// ##### VARIABLES #####
$bg-color: rgb(249,250,251)
$button-color: rgb(89,109,72)
$button-hover: rgb(99,119,82)
$button-click: rgb(79,99,62)
$error-color: rgb(185,28,28)
$focus-color: rgb(29,78,216)

@font-face
    font-family: "norse-bold"
    src: url("./Norse-Bold.otf")



// ##### PAGE #####
*
    margin: 0
    padding: 0
    //border: 2px dotted red
    box-sizing: border-box
    font-family: Arial, Helvetica, sans-serif

html,
body,
main
    height: 100%
    width: 100%
    background-color: $bg-color

main
    display: flex
    flex-direction: row
    flex: 1



// ##### LEFT PANE #####
.left-pane
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    flex: 2
    background-image: url(./halie.jpg)
    background-size: 165%
    color: white
    
.odin
    width: 100%
    text-align: center
    background-color: rgba(0, 0, 0, 0.5)
    font:
        size: 2.5em
        style: norse-bold, sans-serif
    display: flex
    align-items: center
    justify-content: center
    padding: 0.2em 0
    margin-top: 10rem

.logo
    width: 20%
    max-width: 1em

.credit
    align-self: center
    font-size: 0.5em

.credit a
    color: white



// ##### RIGHT PANE #####
.right-pane
    display: flex
    flex-direction: column
    justify-content: center
    flex: 3

.right-pane>*
    padding: 0.5em

// # Top section
.flavor-text
    font-size: 0.9em
    margin: 1em

// # Mid section
.middle
    background-color: white
    box-shadow: 0px 6px 5px -5px grey

.form-title
    margin-left: 1.1em
    font-size: 0.9em

.row
    display: flex
    div
        margin: 0.2em
        margin-left: 1em

label
    font-size: 0.67em

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
    border: 1px solid silver
    border-radius: 3px
    padding: 0.2em
    padding-left: 0.5em
    
.not-valid:invalid,
    border: 1px solid red
    border-radius: 3px

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
    style: none
    box-shadow: 2px 2px 6px -3px grey
    border: 1px solid $focus-color
    outline: none

.manualerror#main-pass,
.manualerror#confirm-pass
    border: 1px solid $error-color
    border-radius: 3px
    
#errormsg
    font:
        size: 0.5em
    margin-left: 3em
    color: $error-color

// # Bottom section
.bottom
    margin: 1em

input[type="submit"]
    background-color: $button-color
    color: white
    font:
        weight: bold
        size: 0.7em
    border-radius: 0.5em
    padding: 0.7em 2em
    border: none
    margin-bottom: 1em
    box-shadow: 1px 1px 5px grey

input[type="submit"]:hover
    background-color: $button-hover

input[type="submit"]:active
    background-color: $button-click

.subtext
    padding-top: 1em
    font:
        size: 0.7em

.right-pane a
    text-decoration: none
    color: $button-color