@font-face {
  font-family: "norse-bold";
  src: url("./Norse-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
main {
  height: 100%;
  width: 100%;
  background-color: #f9fafb;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.left-pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-image: url(./halie.jpg);
  background-size: 165%;
  color: white;
}

.odin {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2.5em;
  font-style: norse-bold, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.2em 0;
  margin-top: 10rem;
}

.logo {
  width: 20%;
  max-width: 1em;
}

.credit {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 0.5em;
}

.credit a {
  color: white;
}

.right-pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.right-pane > * {
  padding: 0.5em;
}

.flavor-text {
  font-size: 0.9em;
  margin: 1em;
}

.middle {
  background-color: white;
  -webkit-box-shadow: 0px 6px 5px -5px grey;
          box-shadow: 0px 6px 5px -5px grey;
}

.form-title {
  margin-left: 1.1em;
  font-size: 0.9em;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row div {
  margin: 0.2em;
  margin-left: 1em;
}

label {
  font-size: 0.67em;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  border: 1px solid silver;
  border-radius: 3px;
  padding: 0.2em;
  padding-left: 0.5em;
}

.not-valid:invalid {
  border: 1px solid red;
  border-radius: 3px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  style: none;
  -webkit-box-shadow: 2px 2px 6px -3px grey;
          box-shadow: 2px 2px 6px -3px grey;
  border: 1px solid #1d4ed8;
  outline: none;
}

.manualerror#main-pass,
.manualerror#confirm-pass {
  border: 1px solid #b91c1c;
  border-radius: 3px;
}

#errormsg {
  font-size: 0.5em;
  margin-left: 3em;
  color: #b91c1c;
}

.bottom {
  margin: 1em;
}

input[type="submit"] {
  background-color: #596d48;
  color: white;
  font-weight: bold;
  font-size: 0.7em;
  border-radius: 0.5em;
  padding: 0.7em 2em;
  border: none;
  margin-bottom: 1em;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
}

input[type="submit"]:hover {
  background-color: #637752;
}

input[type="submit"]:active {
  background-color: #4f633e;
}

.subtext {
  padding-top: 1em;
  font-size: 0.7em;
}

.right-pane a {
  text-decoration: none;
  color: #596d48;
}
/*# sourceMappingURL=styles.css.map */